<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">Hestia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Home</a>
                <a class="nav-link" href="{{ path('app_regards') }}">About products</a>
                <a class="nav-link" href="{{ path('app_booking_new') }}">Make your booking</a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    {% for role in app.user.roles %}
                        {% if role == 'ROLE_USER' %}
                            <li>
                                <a href="{{ path('app_booking_calendar') }}" class="nav-link">Show Calendar</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}

                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                {% endif %}


            </div>
        </div>
    </div>
</nav>