{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    {% include 'header/_header.html.twig' %}

    <h2 class="resume_title">Booking Resume</h2>


<section  class="show_booking">
<div class="show_booking_div">
            <div class="div_name">
            <div class="div_one_name">
                <h6>Firstname</h6>
                <p>{{ booking.firstname }}</p>
            </div>
            <div class="div_one_name">
                <h6>Lastname</h6>
                <p>{{ booking.lastname }}</p>
            </div>
            </div>
    <div class="div_name">
            <div class="div_one_name">
                <h6>Phone</h6>
                <p>{{ booking.Phone }}</p>
            </div>
        <div class="div_one_name">
            <h6>Category</h6>
            <p>{{ booking.category.name }}</p>
        </div>
    </div>
    <div class="div_name">
            <div class="div_one_name">
                <h6>BeginAt</h6>
                <p>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</p>
            </div>
            <div class="div_one_name">
                <h6>EndAt</h6>
                <p>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</p>
            </div>
    </div>

        </tbody>

<div class="div_button">
    <a href="{{ path('app_booking_calendar') }}" class="btn btn-dark button_show">back to Calendar</a>


    {{ include('booking/_delete_form.html.twig') }}
</div>
</div>
</section>
{% endblock %}
