{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    {% include 'header/_header.html.twig' %}

    <h1>Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <h6>Id</h6>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <h6>Firstname</h6>
                <td>{{ booking.firstname }}</td>
            </tr>
            <tr>
                <h6>Lastname</h6>
                <td>{{ booking.lastname }}</td>
            </tr>
            <tr>
                <h6>Phone</h6>
                <td>{{ booking.Phone }}</td>
            </tr>
            <tr>
                <h6>BeginAt</h6>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <h6>EndAt</h6>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <h6>Category</h6>
                <td>{{ booking.category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_booking_index') }}">back to list</a>

    <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">edit</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
